<% provide(:title, t("static_pages.home.title")) %>
<div class="center jumbotron">
  <h1><%= t("static_pages.home.welcome") %></h1>
  <h2>
    <%= t("static_pages.home.description", link: link_to(t("static_pages.home.link_text"), Settings.links.railstutorial)).html_safe %>
  </h2>
  <% if @registration_enabled %>
    <%= link_to t("static_pages.home.sign_up"), "#", class: "btn btn-lg btn-primary" %>
  <% end %>
  
  <div class="app-info">
    <p><small><%= @app_name %> - <%= t("static_pages.home.version_label") %> <%= @app_version %></small></p>
  </div>
</div>
