<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        if (typeof window.setupI18n === 'function') {
          window.setupI18n(<%= i18n_js_data.to_json.html_safe %>.translations, '<%= I18n.locale %>');
        }
      });
    </script>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %>">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
